@import "./index.css";

.sidenav---sidenav-subnav---1EN61 {
  right: 70px;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-.sidenav---expandable---3_dr7
  > .sidenav---navitem---9uL5T {
  display: flex !important;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T::before {
  content: none !important;
}
.sidenav---sidenav-subnav---1EN61 {
  right: 64px !important;
}

.rmdp-input,
.rmdp-container {
  width: 100% !important;
  height: 36px !important;
}

.flex-rodal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.flex-rodal .rodal-dialog {
  display: flex;
  background: none;
  box-shadow: none;
  position: relative;
  width: auto !important;
  height: auto !important;
  min-width: 350px;
  padding: 30px;
}

.rodal-close {
  display: none;
}

.inputSelect {
  /* margin-bottom: 1rem; */
  /* height:4rem; */
}

.css-1mskxrd-control {
  border-radius: 0.5rem !important;
  height: 2.5rem !important;
  border: 1px solid #ababab;
  border-color: #ababab !important;
}

.css-smf1ef-control {
  height: 2.5rem !important;
}

.react-select-3-listbox {
  z-index: 50;
  height: 2.5rem !important;

}
.custom-multi-select .css-g1d714-ValueContainer{
  height: 39px;
  overflow:auto !important;
  z-index: 400;
  direction: ltr;
  transform-origin: right ;
  gap: 5px;
  padding: 0 20px;
}