@import "./index.css";

.sidenav---sidenav-subnav---1EN61 {
  right: 70px;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-.sidenav---expandable---3_dr7
  > .sidenav---navitem---9uL5T {
  display: flex !important;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T::before {
  content: none !important;
}
.sidenav---sidenav-subnav---1EN61 {
  right: 64px !important;
}

.rmdp-container {
  width: 100% !important;
}
.rmdp-input {
  width: 100% !important;
  height: 2.3rem !important;
  /* margin-top: 0.25rem !important; */
  border: none !important;
  border-radius: 0.5rem !important;
  padding: 0.25rem 0.5rem 0 0.5rem !important;
}

.icon-tabler-calendar-event {
  left: 0.5rem !important;
}

.flex-rodal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.flex-rodal .rodal-dialog {
  display: flex;
  background: none;
  box-shadow: none;
  position: relative;
  width: auto !important;
  height: auto !important;
  min-width: 350px;
  padding: 30px;
}

.rodal-close {
  display: none;
}

.css-1mskxrd-control {
  border-radius: 0.5rem !important;
  height: 2.5rem !important;
  border: 1px solid #ababab;
  border-color: #ababab !important;
}

.css-smf1ef-control {
  height: 2.5rem !important;
}

.react-select-3-listbox {
  z-index: 50;
  height: 2.5rem !important;
}
