@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Light.woff")
      format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 900;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Black.woff2")
      format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Black.woff")
      format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Black.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Bold.woff")
      format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum)_Medium.woff")
      format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 200;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum).eot");
  src: url("/public/fonts/IRANSans/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/IRANSans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("/public/fonts/IRANSans/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("/public/fonts/IRANSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

* {
  font-family: "IRANSans" !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    background-color: rgb(231, 229, 229);
    @apply h-10 w-160 bg-tomato rounded-lg border-none text-white shadow-md;
  }

  .bigBtn {
    @apply w-219 h-10 bg-tomato rounded-lg border-none text-white shadow-md;
  }
  .btn_noBorder {
    @apply w-160 h-10 bg-white text-numColor border-none shadow-md;
  }

  .checkboxStyle {
    @apply bg-tomato text-white focus:!bg-red-800;
  }
  .selectBox {
    @apply border-none  h-10 w-64;
  }

  .customTable .rt-tr-group {
    @apply odd:bg-tableColor  border-none;
  }
  .checkbox_select,
  .inputSelect .css-1s2u09g-control {
    @apply border-none;
  }
  .checkbox_select,
  .selectIcon .css-1okebmr-indicatorSeparator {
    @apply w-0;
  }
  .selectIcon .css-c465re-ValueContainer {
    @apply pr-8;
  }
  .timePicker .rmdp-input {
    @apply text-center;
  }
  .autoComplete {
    @apply w-64  before:content-[attr(data-before)] relative before:absolute before:-top-3 before:right-5 before:bg-white before:z-30;
  }
  .autoComplete .fDbOPw > input,
  .hCpHso .ellipsis {
    @apply text-right pr-3;
  }

  .autoComplete .cmyNjn > .wrapper {
    @apply z-20 rounded-lg;
  }

  .simple_select {
    @apply w-64  relative before:absolute before:-top-14 before:right-14 before:bg-white before:z-10;
  }
  .chips .transition-colors {
    @apply top-0 left-0;
  }
  .chips .-translate-y-2\/4 {
    @apply top-10 right-5;
  }

  /* flex box */
  .centering {
    @apply flex justify-center items-center;
  }
  .flex-start-center {
    @apply flex justify-start items-center;
  }
  .flex-end-center {
    @apply flex justify-end items-center;
  }
  .flex-start-start {
    @apply flex justify-start items-start;
  }
  .flex-start-end {
    @apply flex justify-start items-end;
  }
  .flex-between-center {
    @apply flex justify-between items-center;
  }
  .flex-between-start {
    @apply flex justify-between items-start;
  }
  .flex-around-center {
    @apply flex justify-around items-center;
  }
  .flex-center-end {
    @apply flex justify-center items-end;
  }
  .flex-end-end {
    @apply flex justify-end items-end;
  }
  .flex-between-end {
    @apply flex justify-between items-end;
  }
  .flex-end-start {
    @apply flex justify-end items-start;
  }
}
