@tailwind base;
@tailwind components;
@tailwind utilities;
@import "FontFamily.css";

* {
  font-family: "IRANSans" !important;
}

@layer base {
  body {
    @apply text-dark text-sm;
  }
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  ul,
  li {
    @apply text-dark;
  }
  p {
    @apply text-right;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .btn {
    @apply h-10 rounded-lg border-none text-dark px-5 py-2 centering gap-2 w-32;
  }
  .full-tomato-btn {
    @apply bg-tomato text-light;
  }
  .line-tomato-btn {
    @apply bg-light text-tomato border border-tomato;
  }
  .full-lightTomato-btn {
    @apply bg-lightTomato text-gray-600;
  }
  .full-gray-btn {
    @apply !bg-lightGray !text-dark px-10;
  }
  .checkboxStyle {
    @apply bg-tomato text-white focus:!bg-red-800;
  }
  .selectBox {
    @apply border-none  h-10 w-64;
  }
  .customTable .rt-tr-group {
    @apply odd:bg-mainGray  border-none;
  }
  .checkbox_select,
  .inputSelect .css-1s2u09g-control {
    @apply border-none;
  }
  .checkbox_select,
  .selectIcon .css-1okebmr-indicatorSeparator {
    @apply w-0;
  }
  .selectIcon .css-c465re-ValueContainer {
    @apply pr-8;
  }
  .timePicker .rmdp-input {
    @apply text-center;
  }
  .autoComplete {
    @apply w-64  before:content-[attr(data-before)] relative before:absolute before:-top-3 before:right-5 before:bg-white before:z-30;
  }
  .autoComplete .fDbOPw > input,
  .hCpHso .ellipsis {
    @apply text-right pr-3;
  }
  .autoComplete::before {
    @apply px-2;
  }
  .autoComplete .cmyNjn > .wrapper {
    @apply z-20 rounded-lg;
  }
  .simple_select {
    @apply w-64  relative before:absolute before:-top-14 before:right-14 before:bg-white before:z-10;
  }
  .chips .transition-colors {
    @apply top-1 left-0 right-[92%] bg-transparent border border-gray-300;
  }
  .chips .-translate-y-2\/4 {
    @apply top-10 right-5;
  }

  .autocompleteInput {
    @apply w-full before:content-[attr(data-before)] focus-visible:outline-none relative before:absolute before:-top-12 before:right-5 before:bg-white before:z-30 border-0 mt-1 text-sm;
  }
  .autocompleteWrapper {
    @apply flex-between-center relative h-10 px-2 min-w-[15rem] border border-darkBorder rounded-lg text-darkGray;
  }
  .autocompleteLabel {
    @apply absolute -top-3 right-5 bg-white   px-2 text-darkGray text-sm;
  }
  .advancedSearchButton {
    @apply border-none bg-transparent text-dark shadow-none flex justify-around items-center;
  }
  .pagination_style {
    @apply !bg-tomato text-white;
  }
  /* flex box */
  .centering {
    @apply flex justify-center items-center;
  }
  .flex-start-center {
    @apply flex justify-start items-center;
  }
  .flex-end-center {
    @apply flex justify-end items-center;
  }
  .flex-start-start {
    @apply flex justify-start items-start;
  }
  .flex-start-end {
    @apply flex justify-start items-end;
  }
  .flex-between-center {
    @apply flex justify-between items-center;
  }
  .flex-between-start {
    @apply flex justify-between items-start;
  }
  .flex-around-center {
    @apply flex justify-around items-center;
  }
  .flex-center-end {
    @apply flex justify-center items-end;
  }
  .flex-end-end {
    @apply flex justify-end items-end;
  }
  .flex-between-end {
    @apply flex justify-between items-end;
  }
  .flex-end-start {
    @apply flex justify-end items-start;
  }
  /* //Toggles */
  .ToggleContainer {
    @apply bg-light flex-start-start flex-col  absolute top-10  right-0 shadow-xl z-20 text-right w-full;
  }
  .ToggleElements {
    @apply h-10 rounded-none border-none text-dark px-4 py-2 flex-start-start  gap-2 w-full hover:bg-lightGray transition;
  }
  .inputRow {
    @apply flex-start-center gap-5 flex-wrap mb-6;
  }
  .css-1mskxrd-control {
    @apply border !border-darkBorder !rounded-lg;
  }
 
}
